@font-face {
  font-family: "Arcade";
  src: url('../public/assets/visitor1.ttf');
}
#load {
  font-family: "Arcade"
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #3B3045;
  color: white;
}

nav, #page-content {
  margin: 0 auto;
  width: 60vw;
  min-width: 600px;
}

#header h1 {
  background-color: blueviolet;
  width: 90vw;
  margin: 20px auto 0;
  padding: 5px 0;
}

nav {
  background-color: #00a2ff;
}
nav li:hover {
  background-color: #0091ff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px 40px;
}

nav li {
  padding: 8px 0;
  border-right: 1px solid white;
}

nav li:first-child {
  border-left: 1px solid white;
}

canvas {
  border: 2px solid white;
  width: fit-content;
  height: fit-content;

}

#page-content {
  background-color: #210011;
  padding-top: 30px;
}

#footer {
  padding: 20px 0 10px;
}