@font-face {
  font-family: "Arcade";
  src: url('../public/assets/visitor1.ttf');
}
#load {
  font-family: "Arcade"
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #3B3045;
  color: white;
}

nav, #page-content {
  margin: 0 auto;
  width: 60vw;
}

#header h1 {
  background-color: blueviolet;
  width: 90vw;
  margin: 20px auto 0;
  padding: 5px 0;
}

nav {
  background-color: deepskyblue;
  padding: 5px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

#page-content {
  background-color: #210011;
  padding-top: 30px;
}

#footer {
  padding: 20px 0 10px;
}